$text: black;

.words {
  color: $text;
  text-decoration: none;
  &:hover {
    color: pink;
    animation-name: pulse_action;
    animation-duration: 5000ms;
    transform-origin: 70% 30%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes pulse_action {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
